$space: 8px;
$time-animation: 1s;

// Colors 

$color-light: #ffffff;
$color-red: #ff1b3b;
$color-dark: #373737;


// Breaking points

$breaking-point-large: 1600px;
$breaking-point-medium: 1200px;
$breaking-point-small: 1000px;